#linkBackground{
  color: #A9D6E5;
  background-color: #468FAF;
}

#bio{
margin-left: 6px;
}

body{
  background-color: #89C2D9;
}

#name{
  text-align: center;

}

#tTenList{
  border-style: solid;
  border-width: 3px;

  text-align: center;
  list-style-position: inside;
}


#jobHistory{
  text-align: center;
}

footer{
  border-style: dashed;
  border-color: #013A63;
  border-width: 3px;
  text-align: center;
  color: white;
  background-color: #468FAF;
}

#operatingSystem{
  text-align: center;
}

#languages{
  text-align: center;
}

#myGithub{
  text-align: left;
}

#detailOne{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

#Photograph{
  
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  width: 50%;
  float:left;
  

}